{% extends "bukhach/general.html" %}
{% block content %}

    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid mx-auto d-none d-lg-block" src="img/leon_left.png">
                    </div>
                    <div class="col-12">
                        <img class="img-fluid mx-auto d-lg-none " src="img/leon_top.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/WHf1DLdatfY?autoplay=1&rel=0&amp;controls=0&amp;showinfo=0"
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid mx-auto d-none d-lg-block" src="img/leon_right.png">
                    </div>
                    <div class="col-12">
                        <img class="img-fluid mx-auto d-lg-none " src="img/leon_bot.png">
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock content %}