{% extends "bukhach/general.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pt-3">
                <h2 class="text-center">Я ТИБЯ ПА АЙПИ ВЫЧИСЛЮ, ТВОЙ АЙПИ УЖЕ В БАЗЕ: {{ ip }}</h2>
            </div>
            <div class="col-lg-4 pt-3">
                <img src="img/alesha.png" class="img-fluid " alt="Пошел нахуй">
            </div>
            <div class="col-lg-7 justify-content-center align-self-center offset-md-1">
                <p class="text-center ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit
                    anim id est laborum.
                </p>
            </div>
            <div class="col-lg-7 justify-content-center align-self-center">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit
                    anim id est laborum.
                </p>
            </div>
            <div class="col-lg-4 offset-md-1 pt-2">
                <img src="img/farid.jpg" class="img-fluid img-thumbnail" alt="пошел нахуй">
            </div>
        </div>
        <div class="card-deck pt-5">
            <div class="card text-center bg-transparent">
                <img class="card-img-top img-thumbnail" src="img/sasha.jpg">
                <p class="card-text pt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit
                    anim id est laborum.
                </p>
            </div>
            <div class="card text-center bg-transparent">
                <img class="card-img-top img-thumbnail" src="img/we.jpg">
                <p class="card-text pt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit
                    anim id est laborum.
                </p>
            </div>
            <div class="card text-center bg-transparent">
                <img class="card-img-top img-thumbnail" src="img/masha.jpg">
                <p class="card-text pt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit
                    anim id est laborum.
                </p>
            </div>
        </div>
    </div>

{% endblock content %}