{% extends "bukhach/general.html" %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/css/index.css">
{% endblock styles %}

{% block scripts %}
{% endblock scripts %}
{% block content %}
    <div class="container-fluid full-screen-container">
        <div class="row full-screen-container-row">
            <div class="col-lg-6 section-description">
                <div class="left-side-description">
                    <span class="left-side-description-text"><i
                            class="far fa-comments"></i> Заводи новые знакомства</span>
                    <span class="left-side-description-text"><i class="far fa-calendar-check"></i> Создавай и планируй мероприятия</span>
                    <span class="left-side-description-text"><i class="far fa-times-circle"></i> Антихайп</span>
                </div>
            </div>
            <div class="col-lg-6 full-screen-container">
                <div class="login-form-box">
                    <form class="landing-login-form" enctype="multipart/form-data" action="login_user"
                          method="POST">{% csrf_token %}
                        <input name="username_field" type="text" class="landing-form-field" placeholder="Username"
                               required>
                        <input name="password_field" type="password" class="landing-form-field" placeholder="Пароль"
                               required>
                        <button class="landing-button" type="submit">Войти</button>
                    </form>
                </div>
                <div class="registration-box-wrapper">
                    <div class="registration-box">
                        <div class="prompt-box">
                            <div class="logo"></div>
                            <div class="heading-text-wrapper">
                                <span class="heading-text">Не тормози, зарегистрируйся прямо сейчас и получи пизды</span>
                            </div>
                            <div class="prompt-text-wrapper">
                                <span class="prompt-text">Присоединяйся прямо сейчас</span>
                            </div>
                        </div>
                        <form class="landing-register-form" enctype="multipart/form-data" action="register_user"
                              method="POST">{% csrf_token %}
                            <input name="username_field" type="text" class="landing-form-field registration-field"
                                   placeholder="Username"
                                   required>
                            <input name="first_name_field" type="text" class="landing-form-field registration-field"
                                   placeholder="Имя"
                                   required>
                            <input name="last_name_field" type="text" class="landing-form-field registration-field"
                                   placeholder="Фамилия"
                                   required>
                            <input name="password_field" type="password" class="landing-form-field registration-field"
                                   placeholder="Пароль"
                                   required>
                            <button class="landing-button" type="submit">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}