<html>
<head>
    <style>
        body {
            background-image: url("https://coordinat.org/assets/img/bg2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            font-family: 'Roboto', sans-serif;
        }

        .binvt__header {
        }

        .binvt__body {
        }

        .binvt__link {
        }

        .binvt__image {

        }
    </style>
</head>
<body>
<div class="binvt__header">
    <h3>Ну че, питушара, вот ты и дождался приглашения</h3>
</div>
<div class="binvt__body">
    <h4>Для завершения своего пути посвящения в геи - нажми на
        <a href="https://coordinat.org/api/v1/profiles/confirm?confirmation_hash={{ confirmation_hash }}">ссылку</a></h4>
{#        <a href="http://77.37.218.135/api/v1/confirm-profile?confirmation_hash={{ confirmation_hash }}">ссылку</a></h4>#}
    <h4>Ща тебя выкинет к хуям на лендинг, там напишешь свои логин и пароль и ты готов(а) бухать</h4>
    <h4>Если письмо пришло к вам по ошибке, то просто проигнорируйте его.</h4>
</div>
</body>
</html>