{% extends "bukhach/general.html" %}
{% block content %}

    <div class="container text-center">

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        <form class="form-signin mx-auto" enctype="multipart/form-data" action="login_user"
              method="POST">{% csrf_token %}
            <img class="img_for_login img-fluid pb-2" src="img/bukhach.png" alt="pedr">

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            {% if error_message %}<h3>{{ error_message }}</h3> {% endif %}
            {% for field in form.visible_fields %}
                {% include "bukhach/elements/form.html" %}
            {% endfor %}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <a class="btn btn-lg btn-primary btn-block" role="button" href="/register">Join us</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
    </div>
{% endblock content %}