{% extends "bukhach/general.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="text ml-5 pt-3">Вот эти пацаны готовы пойти с тобой бухать:</h1>
            {% for user in users %}
                <div class="col-12 mx-auto">
                    <div class="media col-sm-4 pt-2 justify-content-center">
                        <img class="d-inline-flex friend-avatar mr-2"
                             src="media/{{ user.profile.avatar }}"
                             alt="пидор">
                        <div class="media-body">
                            <h6>{{ user.first_name }} {{ user.last_name }} {{ user.profile.tel_num }} </h6>
                            <p class="text-muted">{{ user.username }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12">
                {% for interval in intervals %}
                    <p> С {{ interval.start }} До {{ interval.end }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/dp0-8KEnlTc" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
{% endblock content %}