{% extends "bukhach/general.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="text ml-5 pt-3">Вот эти пацаны готовы пойти с тобой бухать:</h1>
            {% for user in users %}
                <div class="col-lg-4 col-md-6 col-12">
                    {{ user.username }}<br>
                    {{ user.first_name }}<br>
                    {{ user.last_name }}<br>
                    {{ user.email }}<br>
                </div>
            {% endfor %}
            {% for interval in intervals %}
                C {{ interval.start }} До {{ interval.end }}<br>
            {% endfor %}
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/dp0-8KEnlTc" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
{% endblock content %}