{% extends "bukhach/general.html" %}
{% block content %}
    <div class="container pt-5">
        <h1 class="text-center pt-2"> Ну зарегайся </h1>
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <img src="img/piu.png" class="img-fluid">
            </div>
            <div class="col-4 mx-auto">
                <form enctype="multipart/form-data" action="register_user" method="POST">{% csrf_token %}
                    {% for field in form.visible_fields %}
                        <label for="inputUsername" class="sr-only">Username</label>
                        <input name="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}"
                               type="{{ field.field.widget.input_type }}"
                               id="inputUsername"
                               class="form-control {% if error_message or field.errors %} is-invalid {% endif %}"
                               placeholder="{{ field.label }}" required autofocus>
                        {% if field.errors %}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
            <div class="col-lg-4 mx-auto">
                <img src="img/svidetel.png" class="img-fluid pt-5 ml-5" style="max-height: 500px">
            </div>
        </div>
    </div>
{% endblock content %}