{% extends "bukhach/general.html" %}
{% block content %}
    <div class="container pt-5">
        <h1 class="text-center pt-2"> Ну зарегайся </h1>
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <img src="img/piu.png" class="img-fluid">
            </div>
            <div class="col-4 mx-auto">
                <form enctype="multipart/form-data" action="register_user" method="POST">{% csrf_token %}
                    {% for field in form.visible_fields %}
                        {% include "bukhach/elements/form.html" %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block mt-3">Зарегистрироваться</button>
                </form>
            </div>
            <div class="col-lg-4 mx-auto">
                <img src="img/svidetel.png" class="img-fluid pt-5 ml-5" style="max-height: 500px">
            </div>
        </div>
    </div>
{% endblock content %}