<!------------------------------- Textarea ------------------------------------------------->
{% if field.field.widget.template_name == 'django/forms/widgets/textarea.html' %}
    <textarea rows="6" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
              id="{{ field.name }}"
              class="form-control mb-3 {% if error_message or field.errors %} is-invalid"
              autofocus {% else %}"{% endif %}
    placeholder="{{ field.label }}"{% if field.field.required %}
    required {% endif %}> {{ field.value }}
    </textarea>
    <!------------------------------- File upload ---------------------------------------------->
{% elif field.field.widget.template_name == 'django/forms/widgets/clearable_file_input.html' %}
    <input name="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}"
           type="{{ field.field.widget.input_type }}"
           id="{{ field.name }}"
           class="form-control-file mb-3 {% if error_message or field.errors %} is-invalid" autofocus {% else %}"
           {% endif %}
    placeholder="{{ field.label }}"{% if field.field.required %} required {% endif %} >
    <!------------------------------ Other fields --------------------------------------------------->
{% else %}
    <!-- Остальные поля -->
    <input name="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}"
           type="{{ field.field.widget.input_type }}"
           id="{{ field.name }}"
           class="form-control mb-3 {% if error_message or field.errors %} is-invalid" autofocus {% else %}"{% endif %}
    placeholder="{{ field.label }}"{% if field.field.required %} required {% endif %}>
{% endif %}
<!-------------------------------- Фидбэк ---------------------------------------------------->
{% if field.errors or error_message %}
    <div class="invalid-feedback">
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}