{% extends "bukhach/general.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Личный кабинет</h2>
            </div>
            <div class="col-12 text-center">
                <img class="img-fluid" src="img/avatar.png">
            </div>
            <div class="col-12">
                <h3>Твое имя: {{ user.first_name }}</h3>
            </div>
            <div class="col-12">
                <h3>Твоя фамилия: {{ user.last_name }}</h3>
            </div>
            <div class="col-12">
                <h3>Твой юзернаме: {{ user.username }}</h3>
            </div>
            <div class="col-12">
                <h3>Твой имейл: {{ user.email }}</h3>
            </div>
            <div class="col-12">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="freeIntervals"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Когда ты свободен:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="freeIntervals">
                            {% for interval in intervals %}
                                <button class="dropdown-item" type="button">
                                    {{ interval.start_date }} - {{ interval.end_date }}
                                </button>
                            {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h3>Введи дату и время начала и конца интервала, когда можешь бухать</h3><br>
                <form class="form-group" enctype="multipart/form-data" action="add-interval" method="POST">{% csrf_token %}
                    <input name="start_interval" type="datetime-local" class="form-control" placeholder="Начало" required>
                    <input name="end_interval" type="datetime-local" class="form-control" placeholder="Конец" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить интервал</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}