.navbar {
position: relative;
}
.navbar-text {
position: absolute;
left: 50%;
margin-left: -50px !important; /* 50% of your logo width */
display: block;
}
.card{
    border: 0px;
    background-color: transparent;
}
body {
    background-image: url("img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.d-inline-flex {
    height: 30px;
}
